#root {
  margin: 0 auto;
  text-align: center;
}

#todo {
  border: 1px solid black;
}

#todo_title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

#remove_button {
  height: 50px;
}

input {
  width: 300px;
  height: 40px;
}

#input_bar {
  display: flex;
  flex-direction: row;
  margin: 10px;
}